.darya{
  padding: 20px 0 30px;
  background-color: $white;
  font-size: 18px;
  &-block{
    display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
  }
  & blockquote{
    padding: 15px 0 20px 100px;
		text-align: justify;
		margin: 50px 30px 30px;
    color: RGB(125, 136, 148);
    background-image: url(/img/coma.png);
    background-repeat: no-repeat;
    background-position: 10px top;
    -o-background-size: 70px auto;
    background-size: 70px auto;
  }
}
.darya .col-1{
  padding: 40px 5px 20px;
	width:57%
}
.darya .col-2{
	width:37%;
  flex-grow: 1;
  text-align: right;
}
.darya-welcome{
  margin-top: 80px;
}
.social{
  width: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.darya-welcome{
  font-size: 30px;
  font-weight: 900;
}
.darya-name{
  font-size: 40px;
  font-weight: 900;
  line-height: 110%;
}
.darya-mob{
  display: none;
}
.darya-present{
  font-size: 20px;
  line-height: 150%;
  & a{
    color:rgb(2, 136, 209);
  }
}
@media(max-width: $tablet-lg){
  .darya .col-1{
    width: 100%;
    padding: 10px 5px;
  }
  .darya .col-2{
    text-align: center;
  }
  .darya-welcome{
    font-size: 20px;
    margin-top: 5px;
  }
  .darya-name{
    font-size: 25px;
    font-weight: 900;
}
.darya blockquote{
    padding: 15px 5px 10px 50px;
    text-align: justify;
    margin: 20px 5px 10px;
    color: RGB(125, 136, 148);
  background-size: 40px auto;
  background-position: 10px 10px;
}
}
@media(max-width: $mobile-lg) {
	.darya .col-2{
		display: none;
	}
  .darya-mob{
    display: block;
    margin: 0 auto;
  }
  .darya blockquote{
    padding: 10px 5px 10px 32px;
    margin: 0;
    text-align:left;
    font-size: 16px;
    background-size: 20px auto;
  }
}
