.fences{
	min-height:500px;
	position: relative;
	background-image: url(/img/bg-fense.jpg);
	background-size: cover;
	&::after{
		content: "";
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		background-color: rgba(0,0,0, 0.7);
	}
} 
.fence-block{
	display: flex;
	z-index: 5;
	position: relative;
}
.fence{
	&::before{
		font-family: "fontello";
font-style: normal;
font-weight: normal;
color: rgb(255, 255, 255);
font-size: 80px;
display: inline-block;
margin-right: .2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: .2em;
text-shadow: 1px 1px 1px rgba(127,127,127,0.3);
	}
}
.student-ico::before{
	content: '\e80c'

}