.graduates{
  padding: 50px 0 45px;
  background-color: #fff;
}
.graduates-inner{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  &__video{
    margin-left: 20px;
    margin-top: 20px;
    width:43%;
    & video {
      background-color: #000;
    }
  }
  &__text{
    width:54%;
  }
}
.graduates-inner__text h3 span {
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0;
}
.graduates-inner__text h3{
  line-height: 140%;
  margin-bottom: 40px;
  padding-bottom:40px;
  border-bottom: 2px solid $grey-color;
}
.disain{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  &__img{
    width: 100%;
    height: 100%;
  }
}
  @media(max-width: $tablet-lg){
        .graduates-inner__text {
      width: 100%;}
      .graduates-inner__video{
        margin: 10px auto;
        width: 100%;
      }
    }

  @media(max-width: $mobile-lg){
    .graduates-inner__text {
      overflow: hidden;
      & h3 span{
        font-size: 18px;
        margin: 10px 0;
        display: block;
        padding: 0;
      }
      & h3{
        font-size: 16px;
      }
    }
    .disain__img{
      width: 100%;
      height: 100%;
    }
  }
