.graduates{
  padding: 50px 0 45px;
  background-color: #fff;
}
.graduates-inner{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  &__video{
    margin-left: 20px;
    & video {
      background-color: #000;
    }
  }
  &__text{
    width:60%;
  }
}
.graduates-inner__text h3 span {
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0;
}
.graduates-inner__text h3{
  line-height: 140%;
  margin-bottom: 40px;
  padding-bottom:40px;
  border-bottom: 2px solid $grey-color;
}
.disain{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  &__img{
    width: 220px;
    margin:10px;
    transition: 400ms;
    &:hover{
      transform: scale(2.5);
      transition: 400ms;
    }
  }
}