.reviews{
  padding: 50px 5px 50px;
  background-color: #fff;
}
.slide{
  display: flex;
  &__video{
    width: 50%;
    min-height: 350px;
  }
}
.slider-video, .picture-slider{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.video-slide, .img-slide{
  width: 100%;
  flex-shrink:0;
}
.review-info{
  width: 50%;
  &__desc{
    background-color: rgb(248, 242, 226);
    padding: 40px;
    margin: 0 0 0 -10px;
    position: relative;
		font-style: italic;
		color: #636363;
		& span {
			display: block;
			margin-bottom:1em;
		}
  }
  &__title{
    font-size: 30px;
    padding: 0 0 10px 40px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 130%;
  }
  &__adress{
    font-style: italic;
    padding: 0 0 0 40px;
  }
}
.video-control, .slider-control{
  text-align: center;
  display: flex;
  margin: 10px auto;
  width: 60%;
  justify-content: space-between;
}
.video-control__left, .slider-control__left{
  width: 30px;
  height: 30px;
  cursor:pointer;
}
.video-control__right, .slider-control__right{
  width: 30px;
  height: 30px;
  cursor:pointer;
}
  @media(max-width: $tablet-sm){
    .slide{
      flex-wrap: wrap;
      &__video{
        width: 100%;
        min-height: auto;
      }
    }
    .review-info{
      width: 100%;
      padding: 20px 5px;
      &__desc{
        margin: 0;
      }
    }

  }
